In [1]:
#set blanck set 
#part01
set1=set()
print("Intial blank set:")
print(set1)

Intial blank set:
set()

In [2]:
#part 2
set1=set("GeeksForGeeks")#set me string value repete nahi hoti 1st time he print hoti hai.
print("\n set with the use of string:")
print(set1)
#____________________________________________________________________________________________________
set1=set("sameer_mayuur_raaju")#set me string value repete nahi hoti 1st time he print hoti hai.
print("\n set with the use of string:")
print(set1)

 set with the use of string:
{'k', 'r', 'G', 'e', 'F', 'o', 's'}

 set with the use of string:
{'a', 'y', 'u', 'j', 'r', 'm', 'e', 's', '_'}

In [3]:
#part3 
set1=set(["Geeks","for","Geeks"])#same thing string&set me hotihai 1st time he print hoti hai value repite nahi hoti.
print("\n set with the use of list:")
print(set1)
print(type(set1))

 set with the use of list:
{'for', 'Geeks'}
<class 'set'>

In [4]:
#part4
set1=set([1,2,'geeks',4,'for',6,"Geeks"])#integer&string value mixed in (list()) datatype
print("\n set with the use of mixed values:")
print(set1)
print(type(set1))

 set with the use of mixed values:
{1, 2, 'for', 4, 6, 'Geeks', 'geeks'}
<class 'set'>

In [5]:
#set hold colection of unique itams. 
#part5
student_id={112,34,43245,343,442,4333,}#set hold colection mahanje digit che collection karane Ex-{112,34,43245,343,442,4333,}.
print(student_id)
print(type(student_id))

{112, 34, 343, 43245, 442, 4333}
<class 'set'>

In [6]:
#remove&add in (set()) datatype
set1=set()
set2={'james',2,3,'python'}
print(set2)#{2, 3, 'python', 'james'}
set2.add(10)#{2, 3, 10, 'python', 'james'}
print(set2)
set2.remove(2)#{3, 10, 'python', 'james'}
print(set2)

{'python', 2, 3, 'james'}
{2, 3, 'python', 10, 'james'}
{3, 'python', 10, 'james'}